@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fcf6f5;
    color: #444;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* following 2 lines center the text */
    justify-content: center;
    align-items: center;
}

h1 {
    color: #f65058;
    font-size: 10rem;
    text-align: center;
    opacity: 0.5;
}

form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 400px;
}

.input {
    border: none;
    color: rgb(45, 57, 83);
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
}

.input::placeholder {
    color: #d5d5d5;
}

.todos {
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style: none;
}

.todos li {
    border-top: 1px solid #d5d5d5;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}